@using Microsoft.EntityFrameworkCore;
@inject AppDbContext context;
@{
    var categories = context.Categories.Include(x => x.Groups).ToList();
}
<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo container-->
        <div>
            <a class="logo" href="/">
                <img src="/site/images/logo-dark.png" height="24" alt="">
            </a>
        </div>
        <ul class="buy-button list-inline mb-0">
            <li class="list-inline-item mb-0">
                <div class="dropdown">

                    <button type="button" class="btn btn-icon btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="uil uil-search h5 text-white"></i>
                    </button>

                    <div class="dropdown-menu dd-menu dropdown-menu-end bg-white shadow rounded border-0 mt-3 py-0" style="width: 300px;">
                        <form>
                            <input type="text" id="text" name="name" class="form-control border bg-white" placeholder="جستجو...">
                        </form>
                    </div>
                </div>
            </li>
            <li class="list-inline-item mb-0 pe-1">
                <div class="dropdown">
                    <button type="button" class="btn btn-icon btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="uil uil-shopping-cart align-middle icons"></i></button>

                    @(await Component.InvokeAsync("ShopCartComponent"))

                </div>
            </li>

            <li class="list-inline-item mb-0">
                <div class="dropdown dropdown-primary">
                    <button type="button" class="btn btn-icon btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="uil uil-user align-middle icons"></i></button>
                    <div class="dropdown-menu dd-menu dropdown-menu-end bg-white shadow rounded border-0 mt-3 py-3" style="width: 200px;">

                        @if (User.Identity.IsAuthenticated == true)
                        {
                            var role = User.FindFirst(ClaimTypes.Role).Value.ToString();
                            if (!string.IsNullOrEmpty(role))
                            {
                                if (role == "Admin")
                                {

                                    <a class="dropdown-item text-dark" href="/Admin/Default">
                                        <i class="uil uil-user align-middle me-1"></i>
                                        پنل مدیریت
                                         @User.Identity.Name 
                                    </a>
                                }
                                else
                                {


                                    <a class="dropdown-item text-dark" href="/PanelUser/ShowInformation">
                                        <i class="uil uil-user align-middle me-1"></i>
                                        پنل کاربری
                                        @User.Identity.Name
                                    </a>

                                }
                            }

                        }
                        else
                        {
                            <a class="dropdown-item text-dark" href="/Account/Register">
                                <i class="uil uil-user align-middle me-1"></i>
                                ثبت نام
                            </a>
                            <a class="dropdown-item text-dark" href="/Account/Login">
                                <i class="uil uil-user align-middle me-1"></i>
                                ورود
                            </a>
                        }




                        <a class="dropdown-item text-dark" href="#"><i class="uil uil-clipboard-notes align-middle me-1"></i> سفارشات من </a>
                        <a class="dropdown-item text-dark" href="#"><i class="uil uil-arrow-circle-down align-middle me-1"></i> دانلود ها </a>
                        <div class="dropdown-divider my-3 border-top"></div>
                        <a class="dropdown-item text-dark" href="/Account/LogOut"><i class="uil uil-sign-out-alt align-middle me-1"></i> خروج </a>
                    </div>
                </div>
            </li>
        </ul>

        <!--end login button-->
        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li><a href="/" class="sub-menu-item">صفحه اصلی </a></li>
                <li class="has-submenu parent-parent-menu-item">
                    <a href="javascript:void(0)">دسته بندی </a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        @foreach (var category in categories)
                        {
                            <li class="has-submenu parent-menu-item">
                                <a href="/ShowProductsCategory/@category.CategoryEnglishName"> @category.CategoryName  </a><span class="submenu-arrow"></span>
                                <ul class="submenu">
                                    @foreach (var group in category.Groups)
                                    {
                                        <li><a href="/ShowProductsGroup/@group.GroupEnglishName" class="sub-menu-item"> @group.GroupName </a></li>
                                    }                                  

                                </ul>
                            </li>
                        }
                     
                  
                    </ul>
                </li>
                <li><a href="/ShowProducts" class="sub-menu-item"> محصولات </a></li>
                <li><a href="/Blogs" class="sub-menu-item"> مقالات </a></li>
                <li><a href="/AbouteUs" class="sub-menu-item"> درباره ما </a></li>
                <li><a href="/ContactUs" class="sub-menu-item"> تماس با ما </a></li>

            </ul><!--end navigation menu-->

        </div>

        <!--end navigation-->
    </div>

    <!--end container-->
</header>

<!--end header-->
<!-- Navbar End -->

