@model List<ProductAdminIndexViewModel>
@{
    ViewData["Title"] = "محصول ها";
    int counter = 1;
}


<div class="row">
    <div class="col-lg-12">
        <div class="card-box">

            <a asp-action="Create" class="btn btn-success btn-bordred waves-effect w-md waves-light m-b-5 " style="    float: left;">
                جدید
            </a>
            <h4 class="header-title m-t-0 m-b-30">
                @ViewData["Title"]
            </h4>



            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                نام 
                            </th>
                            <th>
                               تصویر
                            </th>
                            <th>
                                قیمت اصلی
                            </th>
                            <th>
                                قیمت تخفیفی
                            </th>
                            <th>
                                ترتیب
                            </th>
                            <th>
                                گروه
                            </th>
                            <th>
                                برند
                            </th>
                            <th>
                                عملیات
                            </th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@counter</th>
                                <td>
                                    @item.ProductName
                                </td>
                                <td>
                                    <img src=" @item.ProductImageSmall" width="100">
                                </td>

                                <td>
                                    @item.ProductPrice

                                </td>
                                <td>
                                    @item.ProductPriceOffer
                                </td>
                                <td>
                                    @item.ProductOrder
                                </td>
                            
                                   <td>
                                    @item.GroupName
                                </td>
                                <td>
                                    @item.BrandName
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-warning btn-bordred waves-effect w-md waves-light m-b-5 ">
                                        ویرایش
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger btn-bordred waves-effect w-md waves-light m-b-5 ">
                                        حذف
                                    </a>


                                </td>
                            </tr>

                            counter++;

                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- end col -->

</div>
<!-- end row -->
                   